.sv-btn,
header {
  background-color: #552b80;
  color: white;
}

.delete-btn {
  border: 0;
  border-radius: 0.25rem;
  background-color: white;
  color: red;
  text-decoration: underline;
  padding-left: 0;
}

.sv-btn {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.6rem;
  margin-top: 0.5rem;
}

.submit-half {
  align-items: flex-end;
}

.delete-half {
  align-items: flex-start;
  justify-content: center;
}

.label-head {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.textbox,
textarea {
  border-radius: 0.25rem;
  border: 1px solid;
}

.entry-header {
  margin-left: 0.8rem;
}

.textbox:focus,
textarea:focus {
  outline: none;
  outline: 2px solid #552b80;
}

.header {
  margin-left: 0.9rem;
}

ul {
  list-style-type: none;
}

.no-entries {
  text-align: center;
}

.li-head {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.entries-row {
  align-items: center;
  justify-content: space-between;
}

.search-row {
  justify-content: flex-end;
  align-items: center;
}

.search-container {
  margin-top: 0.5rem;
}

.fa {
  color: #552b80;
}

.notes-text {
  white-space: pre-wrap;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-btn {
  background-color: red;
  color: white;
}

/* modal styling */
.confirm-btn,
.cancel-btn {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.6rem;
  margin: 0.5rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #474e5d;
  opacity: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-radius: 0.5rem;
  background-color: #fefefe;
  border: 1px solid #888;
}

.modal-header-text {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

/* hover effect for pointe */
.go-entries:hover,
.sv-btn:hover,
.fa:hover,
.delete-btn,
.cancel-btn,
.confirm-btn {
  cursor: pointer;
}

/* search bar styling and fa */

.search-bar {
  outline: none;
  border: none;
  background: #552b80;
  color: white;
  text-shadow: 0 0 10px #552b80;
  border-radius: 50%;
  transition: all 1s;
  letter-spacing: 0.1em;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
}

.search-bar:hover {
  cursor: pointer;
}

.search-bar:focus {
  width: 15rem;
  cursor: text;
  height: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 25px 0 #552b80;
  opacity: 1;
}

.fa-question-circle {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
