.sv-btn,
header {
  background-color: #552b80;
  color: white;
}

.delete-btn {
  border: 0;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  background-color: white;
  color: red;
  text-decoration: underline;
}

.sv-btn {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.6rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.submit-half {
  display: flex;
  justify-content: flex-end;
}

.label-head {
  padding-top: 1rem;
  padding-bottom: 0.25rem;
}

.textbox,
textarea {
  border-radius: 0.25rem;
  border: 1px solid;
}

.entry-header {
  margin-left: 0.8rem;
}

.textbox:focus,
textarea:focus {
  outline: none;
  outline: 2px solid #552b80;
}

.header {
  margin-left: 0.9rem;
}

ul {
  list-style-type: none;
}

.no-entries {
  text-align: center;
}

.li-head {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.entries-row {
  align-items: center;
  justify-content: space-between;
}

.go-entries:hover,
.sv-btn:hover {
  cursor: pointer;
}

.fa {
  color: #552b80;
}

.notes-text {
  white-space: pre-wrap;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-btn {
  background-color: red;
  color: white;
}

/* modal styling */
.confirm-btn,
.cancel-btn {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem 0.6rem;
  margin: 0.5rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #474e5d;
  opacity: 90%;
}

.modal-content {
  border-radius: 0.5rem;
  position: absolute;
  background-color: #fefefe;
  margin: 17%;
  top: 30%;
  border: 1px solid #888;
  height: 5rem;
  width: 15rem;
}

.modal-header-text {
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 740px) {
  .modal-content {
    top: 20%;
    margin: 10%;
    left: 25%;
    width: 16rem;
    height: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    top: 20%;
    margin: 10%;
    left: 25%;
    height: 6rem;
    width: 18rem;
  }
}
